@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.icon-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:first baseline;
    margin: 0px;
}

.content{
    margin-left: 2px;
    font-family: "Open Sans";
    width: 150px;
    font-size: 17px;
    word-wrap: break-word;
}

.main-container{
    background-color: grey;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #ffffff;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 12px;
    padding: 1px;
    width: 250px;
    border-radius: 10px;
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 22px;
    font-family: "Open Sans";
    color: lightcoral;
    text-align: center;
}

.main-heading{
    font-size: 28px;
    font-family: "Sans serif";
    text-align: center;
}

.hr-line{
    color: burlywood;
    width: 65px;
    height: 2px;
    background-color: burlywood;
}
